Repository kristian-petras/completionist: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylua, selene, test-lune

stylua:
  name: StyLua Formatter
  entry: stylua
  language: system
  args:
  - --check
  - src/
  - tests/

selene:
  name: Selene Lua Linter
  entry: selene
  language: system
  args:
  - --display-style=quiet
  - src/
  - tests/

test-lune:
  name: Run tests with Lune
  entry: bash
  language: system
  args:
  - -c
  - npm run install-packages && npm run test
  pass_filenames: false

Update GitHub Pages action to v5
  .github/workflows/docs.yml
Due: none

Use correct setup-rokit action
  .github/workflows/ci.yml
Due: none

Add --no-trust-check flag to rokit install in CI
  .github/workflows/ci.yml
Due: none

Refactor project to eliminate npm dependency and streamline tooling
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish-docs.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  default.project.json
  package-lock.json
  package.json
  rokit.toml
  selene.toml
  stylua.toml
  testez.yml
  tests/math.test.luau
  wally.lock
  wally.toml
Due: stylua, selene, test-lune

Fix end-of-file formatting and add build directory to gitignore
  .github/workflows/publish-docs.yml
  .gitignore
  rokit.toml
Due: test-lune

Update docs workflow to use modern GitHub Pages Actions
  .github/workflows/publish-docs.yml
Due: none

feat: add release-please workflow for automated versioning
  .github/workflows/release.yml
Due: none

feat: attach build artifacts to GitHub releases
  .github/workflows/release.yml
Due: none

fix: remove invalid release-please configuration options
  .github/workflows/release.yml
Due: none

fix: use release-please v4 default configuration
  .github/workflows/release.yml
Due: none

fix: add required release-please v4 configuration files
  .release-please-manifest.json
  release-please-config.json
Due: test-lune

feat: optimize docs workflow with path-based triggers
  .github/workflows/publish-docs.yml
  release-please-config.json
Due: test-lune

fix: apply pre-commit auto-fixes for formatting
  .github/workflows/release.yml
  .release-please-manifest.json
Due: test-lune

fix: update release workflow permissions and action
  .github/workflows/release.yml
Due: none

feat: consolidate build into release workflow for proper dependencies
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

refactor: remove redundant build.yml workflow
  .github/workflows/build.yml
Due: none

fix: add checkout step to release-please job for git context
  .github/workflows/release.yml
Due: none

fix: update workflow badges to match current workflow names
  README.md
Due: none

fix: apply pre-commit formatting fixes to AGENTS.md
  AGENTS.md
Due: none

docs: streamline quality checks and add push approval policy
  AGENTS.md
Due: none

fix: apply pre-commit formatting fixes
  AGENTS.md
  README.md
Due: none

docs: add Dependabot badge to README
  README.md
  wally.lock
  wally.toml
Due: test-lune

ci: configure release-please to update wally.toml version
  release-please-config.json
Due: test-lune

feat: configure automated dependency management and versioning
  .github/dependabot.yml
  docs-src/intro.md
  moonwave.toml
  release-please-config.json
Due: test-lune

fix: update release-please config for proper wally.toml versioning
  release-please-config.json
  wally.toml
Due: test-lune

feat: add comprehensive Luau type checking with luau-lsp integration
  .editorconfig
  .gitattributes
  .gitignore
  .luaurc
  .pre-commit-config.yaml
  rokit.toml
  selene.toml
  src/shared/Math.luau
Due: stylua, selene, test-lune

fix: configure Selene for unified Roblox/Lune environment
  .luaurc
  .pre-commit-config.yaml
  .vscode/settings.json
  selene.toml
Due: test-lune

feat: add Darklua configuration for code transformation
  .darklua.json
  .darklua.test.json
  .gitignore
  .vscode/settings.json
  rokit.toml
Due: test-lune

fix: remove tests directory and update pre-commit config
  .gitignore
  .pre-commit-config.yaml
Due: none

feat: implement working Darklua path aliases with LSP support
  .darklua.json
  .darklua.test.json
  .luaurc
  src/client/init.client.luau
  src/server/init.server.luau
Due: stylua, selene, test-lune

style: format Darklua configuration files
  .darklua.json
  .darklua.test.json
Due: test-lune

typescript cleanup
  .DS_Store
  .darklua.json
  .darklua.test.json
  .editorconfig
  .gitattributes
  .github/dependabot.yml
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
  .gitignore
  .luaurc
  .pre-commit-config.yaml
  .release-please-manifest.json
  .vscode/extensions.json
  .vscode/settings.json
  AGENTS.md
  CHANGELOG.md
  README.md
  default.project.json
  docs-src/intro.md
  moonwave.toml
  release-please-config.json
  roblox.yml
  rokit.toml
  selene.toml
  src/client/init.client.luau
  src/server/init.server.luau
  src/shared/Math.luau
  stylua.toml
  tests/math.test.luau
  tests/run-tests.luau
  tests/shared/TestRunner.luau
  wally.lock
  wally.toml
Due: stylua, selene, test-lune

init
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  default.project.json
  package-lock.json
  package.json
  src/client/main.client.ts
  src/server/main.server.ts
  src/shared/module.ts
  tsconfig.json
Due: test-lune

test: add poorly formatted code
  src/shared/module.ts
Due: none

feat: add Biome linting/formatting with Husky pre-commit hooks
  .gitignore
  .husky/pre-commit
  biome.json
  default.project.json
  package-lock.json
  package.json
  src/shared/module.ts
  tsconfig.json
Due: test-lune

docs: add comprehensive agent guidelines for coding workflows
  AGENTS.md
Due: none

feat: enhance agent workflow with checklist and Dependabot
  .github/dependabot.yml
  AGENTS.md
Due: none

feat: add knowledge base and Release Please automation
  .github/workflows/release-please.yml
  .release-please-config.json
  AGENTS.md
Due: test-lune

docs: add comprehensive README for Completionist simulator game
  README.md
  package.json
Due: test-lune

feat: add comprehensive project infrastructure
  .github/workflows/ci.yml
  jest.config.js
  package-lock.json
  renovate.json
  src/__tests__/GameUtils.test.ts
  src/__tests__/README.md
  src/__tests__/helpers/test-utils.ts
  src/__tests__/setup.ts
  src/shared/module.test.ts
  tsconfig.json
Due: test-lune

Path conditions:
  stylua: any of: \.(lua|luau)$
  selene: any of: \.(lua|luau)$
  test-lune: any of: \.(lua|luau|json|toml)$
